html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.img-cover {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/index-cover.jpg');
    background-repeat: no-repeat;

}

.blur{
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.img-coverAbout {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 75%;
    background-image: url('../images/about-cover.jpg');
    background-repeat: no-repeat;
}


.overlay {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.774));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchy{
    width: 20em;
}

.carousel-height{
    height: 700px;
}

@media only screen and (max-width: 900px) {
    .carousel-height{
        height: 400px;
    }
    
}


@media only screen and (max-width: 500px) {
    .carousel-height{
        height: 200px;
    }
    
}


footer {

    background-color: black;
    padding: 10 0 10;
    margin-top: 50px;
    background: linear-gradient(-45deg, #F9641F, #fd583b, #FBA01D, #FFE75F);
    background-size: 400% 400%;
    animation: change 10s ease infinite;
}


/* https://www.youtube.com/watch?v=woVuUbDOeMk&ab_channel=Codegrid */
@keyframes change {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.footer-text {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
    padding-bottom: 20px;

}

/* icons */
/* https://www.w3schools.com/icons/default.asp  */

.fa-icons {

    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    padding: 8px;
    font-size: 10px;
    text-align: center;
    margin: 15px 25px 0px;
    border-radius: 50%;
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
    transition: .4s ease;
}

.fa-instagram:hover {
    background: #9801b6;
    color: white;
    transition: .4s ease;
}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
    transition: .4s ease;
}

a {
    text-decoration: none;
}






@media only screen and (max-width: 700px) {
    header {
        padding: 50px, 0, 0;
    }

}

@media only screen and (max-width: 500px) {
    header {
        padding: 20px, 0, 0;
    }


}